{% extends "eduaddaWebsitePages/base.html" %}
{% block title %}Review{% endblock title %}
{% block body %}

<section>
    <div class="container">
        {% if review %}
            {% for data in review %}
                <div class="row py-3">
                    <div class="col-12 border border-3 border-dark rounded-4">
                        <div class="h4">{{ data.NAME }}</div>
                        <div>{{ data.REVIEW }}</div>
                        <div>
                            {% for _ in "x"|rjust:data.STAR %}
                                ⭐
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</section>

{% endblock body %}